.row {
  display: flex;
  margin: 0 -20px;

  & > .column {
    padding: 0 20px;
  }
  &-spillt > .column {
    border-left: 3px solid #D91414;
    display: flex;
    align-items: center;
  }
  &-wrapper {
    overflow: hidden;
  }
  &-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}